/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  color: red;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; }
  .hamburger:hover {
    opacity: 0.7; }
  .hamburger.is-active:hover {
    opacity: 0.7; }
  .hamburger.is-active .hamburger-inner,
  .hamburger.is-active .hamburger-inner::before,
  .hamburger.is-active .hamburger-inner::after {
    background-color: #000; }

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 40px;
    height: 4px;
    background-color: #000;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; }
  .hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; }
  .hamburger-inner::before {
    top: -10px; }
  .hamburger-inner::after {
    bottom: -10px; }

/*
   * Spin
   */
.hamburger--spin .hamburger-inner {
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--spin .hamburger-inner::before {
    transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in; }
  .hamburger--spin .hamburger-inner::after {
    transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--spin.is-active .hamburger-inner {
  transform: rotate(225deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--spin.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0;
    transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out; }
  .hamburger--spin.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(-90deg);
    transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); }

/* Underline From Center */
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: #2E8965;
  height: 2px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}

button{
  display: inline-block;
  position: relative;
  background: none;
  border: none;
  color: #fff;
  font-size: 1em;
  font-family: 'Noto Sans SC', sans-serif;
    font-weight: 100;
  cursor: pointer;
  margin: 10px 0px;
  background: rgba(70, 182, 158, 1);
  border-radius: 0.175rem;
   -webkit-transition: all .5s ease-out;
  -moz-transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
  transition: all .5s ease-out;
}
span{
  display: block;
  padding: 10px 25px;
}
button::before, button::after{
  content:"";
  width: 0;
  height: 2px;
  position: absolute;
  background: rgba(70, 182, 158, 1);
  border-radius: 0.175rem;
  transition: all 0.2s ease-out;
}

span::before, span::after{
  content:"";
  width:2px;
  height:0;
  position: absolute;
  background: rgba(70, 182, 158, 1);
  border-radius: 0.175rem;
    transition: all 0.2s ease-out;
}
button:hover::before, button:hover::after{
  width: 100%;
}
button:hover{
background: rgba(70, 182, 158, 0.1);
  color:rgba(0, 210, 195, 1);
  }
button:hover span::before, button:hover span::after{
  height: 100%;
}

/*----- button 4 -----*/
.btn-4::after{
  right:0;
  bottom: 0;
  transition-duration: 0.8s;

}
.btn-4 span::after{
  right:0;
  bottom: 0;
  transition-duration: 0.5s;

}
.btn-4::before{
  left: 0;
  top: 0;
  transition-duration: 0.8s;
  
}
.btn-4 span::before{
  left: 0;
  top: 0;
  transition-duration: 0.5s;
  
}

#mobilenav  li  a {
    padding: 10px
}


.hero{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    padding: 0;
    grid-gap: 0;
    margin: 0;
    top: 0;
    height: 100vh;

}
.bg1{
    grid-column: 1 / 13;
    grid-row: 7 / 13;
    
    width: 100%;
}
.bg2{
    grid-column: 1 / 13;
    grid-row: 8 / 13;

    opacity: 0.1;
}
.text1{
    grid-column: 1 / 13;
    grid-row: 2 / 5;
    
    text-align: center;

}
.svg1{
    width: 150px;
}
.svg2{
    width: 120px;
}
@media (min-width: 1280px){
.bg1{
    grid-column: 1 / 13;
    grid-row: 2 / 13;
}
.bg2{
    grid-column: 6 / 13;
    grid-row: 3 / 13;
    
    opacity: 0.1;
}
.text1{
    grid-column: 3 / 5;
    grid-row: 4 / 6;
}
    button{
  display: inline-block;
  position: relative;
  background: none;
  border: none;
  color: #fff;
  font-size: 1.2em;
  font-family: 'Noto Sans SC', sans-serif;
    font-weight: 100;
  cursor: pointer;
  margin: 10px 0px;
  background: rgba(70, 182, 158, 1);
  border-radius: 0.175rem;
   -webkit-transition: all .5s ease-out;
  -moz-transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
  transition: all .5s ease-out;
}
    span{
  display: block;
  padding: 15px 55px;
}
    .svg1{
    height: 150px;
        width: auto;
}
    .svg2{
    height: 100px;
        width: auto;
}
    }
.mask1 {
  -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.1) 15%, rgba(0,0,0,0.3) 25%, rgba(0,0,0,0.5) 50%,black 75%);
  mask-image: linear-gradient(to bottom, transparent 25%, black 75%);
}